.login-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.input-login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-login {
  width: 650px;
  height: 35px;
}

.rotate-register {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.bonus-policy {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.input-check,
p {
  display: inline-block;
  margin-right: 10px;
}

.list-input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-check {
  margin-right: 20px;
  margin-left: -25px;
  margin-top: 10px;
}
