.btn-menu {
  border-radius: 10px;
  background-color: #df3346;
  justify-content: center;
  height: 40px;
  border: none;
  color: white;
  margin-right: 5px;
  margin-top: 5px;
  word-break: break-all;
}

.btn-locate {
  border-radius: 10px;
  background-color: #df3346;
  justify-content: center;
  height: 40px;
  border: none;
  color: white;
  margin-right: 5px;
  margin-top: 5px;
  width: 90px;
  height: 50px;
  word-break: keep-all;
}

.logo {
  margin-top: 5px;
  margin-right: 5px;
}

.col1 {
  display: inline;
  white-space: nowrap;
}

.header {
  width: 100%;
  background-color: #d70018;
}

.input-header {
  margin-top: 20px;
  margin-left: 50px;
  width: 300px;
  height: 32px;
  border-radius: 8px;
  border: none;
  align-items: center;
  justify-content: center;
}

.btn-facetime {
  border-radius: 10px;
  width: 90px;
  background-color: #df3346;
  justify-content: center;
  height: 40px;
  border: none;
  color: white;
  margin-right: 5px;
  margin-top: 5px;
  word-break: keep-all;
}

.btn-address {
  border-radius: 10px;
  width: 90px;
  background-color: #df3346;
  justify-content: center;
  height: 40px;
  border: none;
  color: white;
  margin-right: 5px;
  margin-top: 5px;
  word-break: break-all;
}
.btn-follow {
  border-radius: 10px;
  width: 90px;
  background-color: #df3346;
  justify-content: center;
  height: 40px;
  border: none;
  color: white;
  margin-right: 5px;
  margin-top: 5px;
  word-break: break-all;
}
.btn-cart {
  border-radius: 10px;
  width: 90px;
  background-color: #df3346;
  justify-content: center;
  height: 40px;
  border: none;
  color: white;
  margin-right: 5px;
  margin-top: 5px;
  word-break: break-all;
}
.btn-login {
  border-radius: 10px;
  width: 90px;
  background-color: #df3346;
  justify-content: center;
  height: 40px;
  border: none;
  color: white;
  margin-right: 5px;
  margin-top: 5px;
  word-break: break-all;
}
